<hr />
--------------- Left Joystick
<hr />
<label>
    <h4>Joystick Origin</h4>
    <input type="number" ref:joystickOriginX value={$Joystick.origin[0]} on:change="updateJoystick()" />
    <input type="number" ref:joystickOriginY value={$Joystick.origin[1]} on:change="updateJoystick()" />
</label>
<label>
    <h4>Joystick Scale</h4>
    <input type="number" ref:joystickOriginScale value={$Joystick.scale} on:change="updateJoystick()" />
</label>

<hr />
--------------- Controls
<hr />

{#each controls as [key, coords]}
<label>
    <h4>{key}</h4>
    <input type="number" value={coords[0]} on:change="updateControl(key, 0, event)" />
    <input type="number" value={coords[1]} on:change="updateControl(key, 0, event)" />
</label>
{/each}

<label>
    <h4>LEVEL_UP-ABILITY_Q</h4>
    <input type="number" value={$Controls.LEVEL_UP.ABILITY_Q[0]}
        on:change="updateControl('LEVEL_UP.ABILITY_Q', 0, event)" />
    <input type="number" value={$Controls.LEVEL_UP.ABILITY_Q[1]}
        on:change="updateControl('LEVEL_UP.ABILITY_Q', 1, event)" />
</label>
<label>
    <h4>LEVEL_UP-ABILITY_W</h4>
    <input type="number" value={$Controls.LEVEL_UP.ABILITY_W[0]}
        on:change="updateControl('LEVEL_UP.ABILITY_W', 0, event)" />
    <input type="number" value={$Controls.LEVEL_UP.ABILITY_W[1]}
        on:change="updateControl('LEVEL_UP.ABILITY_W', 1, event)" />
</label>
<label>
    <h4>LEVEL_UP-ABILITY_E</h4>
    <input type="number" value={$Controls.LEVEL_UP.ABILITY_E[0]}
        on:change="updateControl('LEVEL_UP.ABILITY_E', 0, event)" />
    <input type="number" value={$Controls.LEVEL_UP.ABILITY_E[1]}
        on:change="updateControl('LEVEL_UP.ABILITY_E', 1, event)" />
</label>
<label>
    <h4>LEVEL_UP-ABILITY_R</h4>
    <input type="number" value={$Controls.LEVEL_UP.ABILITY_R[0]}
        on:change="updateControl('LEVEL_UP.ABILITY_R', 0, event)" />
    <input type="number" value={$Controls.LEVEL_UP.ABILITY_R[1]}
        on:change="updateControl('LEVEL_UP.ABILITY_R', 1, event)" />
</label>

<hr />
--------------- Encoder
<hr />
<input ref:encoder type="text" value="{$encoder}" on:change="updateEncoder()">

<script>
    import { AppStore } from './App.store';

    export default {
        store: () => AppStore,
        computed: {
            controls: ({ $Controls }) => Object.entries($Controls).filter(([k]) => k !== 'LEVEL_UP'),
        },
        methods: {
            updateControl(key, index, e) {
                const val = parseInt(e.target.value, 10);
                const Controls = this.store.get().Controls;

                if (key.includes('LEVEL_UP')) {
                    const abilityKey = key.split('.')[1];
                    Controls['LEVEL_UP'][abilityKey][index] = val;
                } else {
                    Controls[key][index] = val;
                }


                this.store.set({ Controls })
            },
            updateJoystick() {
                const originx = parseInt(this.refs.joystickOriginX.value, 10);
                const originy = parseInt(this.refs.joystickOriginY.value, 10);
                const scale = parseInt(this.refs.joystickOriginScale.value, 10);

                this.store.set({
                    Joystick: {
                        origin: [originx, originy],
                        scale,
                    }
                });
            },
            updateEncoder() {
                this.store.set({
                    encoder: this.refs.encoder.value,
                })
            }
        }
    }
</script>